#countdownToStartContainer {
  position: absolute;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.25);
  margin: 0px auto;
  color: #FFFFFF;
  text-shadow: 5px 5px #FFCC00; }
  #countdownToStartContainer #countdownToStart {
    width: 150px;
    height: 150px;
    font-family: 'Press Start 2P';
    font-size: 10em;
    text-align: center; }

#gameTimerContainer, #pointsContainer {
  width: 150px;
  height: 20px;
  font-family: 'Press Start 2P';
  font-size: 18px;
  color: #FFFFFF;
  position: absolute; }
  #gameTimerContainer div, #pointsContainer div {
    display: inline-block; }

#pointsContainer {
  background-image: url("../img/main-gift.png");
  background-size: 48px;
  background-position: -10px 0px;
  background-repeat: no-repeat;
  padding-left: 45px;
  padding-top: 20px;
  top: 20px;
  height: 20px; }

#milliseconds {
  margin-left: -20px; }

#pointsContainer {
  left: 35px; }

#gameTimerContainer {
  right: 35px;
  top: 40px;
  text-align: right; }
