#skyline_bg, #skyline_fg, #ground {
	position: absolute;
	background-size: auto 384px;
	background-position: 0px bottom;
	background-repeat-y: none; 
	height: 384px;
	width: 100%;
	bottom: 0px;
}
#skyline_bg {
	background-image: url("../img/skyline_bg.png");
}
#skyline_fg {
	background-image: url("../img/skyline_fg.png");
}
#ground{
	background-image: url("../img/ground.png");
}