#skyline_bg, #skyline_fg, #ground {
	position: absolute;
	background-size: auto 384px;
	background-position: 0px bottom;
	background-repeat-y: none; 
	height: 384px;
	width: 100%;
	bottom: 0px;
}
#skyline_bg {
	background-image: url("../img/skyline_bg.png");
}
#skyline_fg {
	background-image: url("../img/skyline_fg.png");
}
#ground{
	background-image: url("../img/ground.png");
}
#moon {
	position: absolute;
	top: 65px;
	right: 65px;
	width: 68px;
	height: 68px;
	background-image: url("../img/sky-moon.png");
	background-size: 68px;
}

#container_message {
	position: absolute;
	right: 0px;
	top: 80px;
	width: 50%;
	height: 70%;
	padding-right: 35px;
	text-align: center;
	font-family: 'Press Start 2P';
	color: #FFFFFF;
}

#copy_top {
	padding: 10px;
	background-color: #000000;
	font-size: 20px;
	line-height: 30px;
}

#copy_bottom {
	padding: 20px 0px;
	font-size: 50px;
	text-shadow: 5px 5px 0px #000000;
}

#button_start {
	width: 180px;
	margin: 0px auto;
	cursor: pointer;
}

#button_start div {
	display: inline-block;
}

#button_sound {
	position: relative;
	width: 100px;
	margin: 0px auto; 
	text-align: center;
	font-family: 'Press Start 2P';
	color: #FFFFFF; 
	font-size: 16px;
	padding: 35px 15px;
	user-select: none;
	cursor: pointer;

}